<app-header></app-header>
<app-sidebar></app-sidebar>


<main class="container">


    <div class="welcome-box">
        <h2 class="primary-header">Welcome <br>to the Pokémon Wiki!</h2>
        <p>
            Pokémon Wiki is a wiki dedicated to the <strong>Pokémon Universe</strong> created by <strong>Satoshi
                Tajiri</strong>.
        </p>
        <p>
            It centers on imaginary creatures called "Pokémon" that humans can capture, train and fight for fun.
        </p>
        <p>
            The franchise was born as a pair of video games developed by Game Freak
            and published by Nintendo for the Game Boy handheld console.
        </p>

        <p>
            The huge success achieved around the world has led to the creation
            of more video games, anime, movies, manga, a trading card game, books
            and countless gadgets and toys.
        </p>
        <p>
            Our goal is to create a comprehensive encyclopedia for all official material related to this series.
        </p>
        <p>
            This content comes from
            <a target="_blank" href="https://pokeapi.co/">Poké API</a>, and must be attributed to its
            authors, as specified in the license.
        </p>
    </div>

    <div class="welcome-box">
        <h2 class="primary-header">Welcome <br>to the Pokémon Wiki!</h2>
        <p>
            Pokémon Wiki is a wiki dedicated to the <strong>Pokémon Universe</strong> created by <strong>Satoshi
                Tajiri</strong>.
        </p>
        <p>
            It centers on imaginary creatures called "Pokémon" that humans can capture, train and fight for fun.
        </p>
        <p>
            The franchise was born as a pair of video games developed by Game Freak
            and published by Nintendo for the Game Boy handheld console.
        </p>

        <p>
            The huge success achieved around the world has led to the creation
            of more video games, anime, movies, manga, a trading card game, books
            and countless gadgets and toys.
        </p>
        <p>
            Our goal is to create a comprehensive encyclopedia for all official material related to this series.
        </p>
        <p>
            This content comes from
            <a target="_blank" href="https://pokeapi.co/">Poké API</a>, and must be attributed to its
            authors, as specified in the license.
        </p>
    </div>

    <div class="welcome-box">
        <h2 class="primary-header">Welcome <br>to the Pokémon Wiki!</h2>
        <p>
            Pokémon Wiki is a wiki dedicated to the <strong>Pokémon Universe</strong> created by <strong>Satoshi
                Tajiri</strong>.
        </p>
        <p>
            It centers on imaginary creatures called "Pokémon" that humans can capture, train and fight for fun.
        </p>
        <p>
            The franchise was born as a pair of video games developed by Game Freak
            and published by Nintendo for the Game Boy handheld console.
        </p>

        <p>
            The huge success achieved around the world has led to the creation
            of more video games, anime, movies, manga, a trading card game, books
            and countless gadgets and toys.
        </p>
        <p>
            Our goal is to create a comprehensive encyclopedia for all official material related to this series.
        </p>
        <p>
            This content comes from
            <a target="_blank" href="https://pokeapi.co/">Poké API</a>, and must be attributed to its
            authors, as specified in the license.
        </p>
    </div>


    <div class="welcome-box">
        <h2 class="primary-header">Welcome <br>to the Pokémon Wiki!</h2>
        <p>
            Pokémon Wiki is a wiki dedicated to the <strong>Pokémon Universe</strong> created by <strong>Satoshi
                Tajiri</strong>.
        </p>
        <p>
            It centers on imaginary creatures called "Pokémon" that humans can capture, train and fight for fun.
        </p>
        <p>
            The franchise was born as a pair of video games developed by Game Freak
            and published by Nintendo for the Game Boy handheld console.
        </p>

        <p>
            The huge success achieved around the world has led to the creation
            of more video games, anime, movies, manga, a trading card game, books
            and countless gadgets and toys.
        </p>
        <p>
            Our goal is to create a comprehensive encyclopedia for all official material related to this series.
        </p>
        <p>
            This content comes from
            <a target="_blank" href="https://pokeapi.co/">Poké API</a>, and must be attributed to its
            authors, as specified in the license.
        </p>
    </div>

</main>