.header-nav {
  background-color: var(--primary-color);

  /* Fix the nav element to the top while scrolling page */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  padding: 0px 20px;

  filter: drop-shadow(0px 8px 8px var(--primary-shadow-color));
}

.header-title {
  color: var(--secondary-color);
  text-shadow: 2px 2px 2px var(--secondary-shadow-color);

  /* Reduce the custom font's top whitespace */
  line-height: 2.1;
  margin-top: -20px;

  user-select: none; /* make user not able to select text */
}
