<nav class="header-nav">
    <h1 class="header-title">PokémonWiki</h1>

    <ul class="header-links">
        <a class="header-link" href="#">Pokémon</a>
        <a class="header-link" href="#">Moves</a>
        <a class="header-link" href="#">Berries</a>
        <a class="header-link" href="#">Random Page</a>
    </ul>

    <form class="search-box">
        <input class="search-input" placeholder="Search..." type="text" />
        <button hidden type="submit">
            Submit
        </button>
    </form>
</nav>