<div class="sidebar">
    <div class="sidebar-row">
        <svg-icon class="sidebar-icon" src="assets/pokeball.svg"></svg-icon>
        <p class="sidebar-title">Pokémon</p>
    </div>
    <div class="sidebar-row">
        <svg-icon class="sidebar-icon" src="assets/swords.svg"></svg-icon>
        <p class="sidebar-title">Moves</p>
    </div>
    <div class="sidebar-row">
        <svg-icon class="sidebar-icon" src="assets/cherry.svg"></svg-icon>
        <p class="sidebar-title">Berries</p>
    </div>
    <div class="sidebar-row">
        <svg-icon class="sidebar-icon" src="assets/dice.svg"></svg-icon>
        <p class="sidebar-title">Random Page</p>
    </div>
</div>