<div class="sidebar">
    <div class="sidebar-row">
        <svg-icon class="sidebar-icon" src="assets/pokeball.svg"></svg-icon>
        <p>Pokémon</p>
    </div>
    <div class="sidebar-row">
        <svg-icon class="sidebar-icon" src="assets/swords.svg"></svg-icon>
        <p>Moves</p>
    </div>
    <div class="sidebar-row">
        <svg-icon class="sidebar-icon" src="assets/cherry.svg"></svg-icon>
        <p>Berries</p>
    </div>
    <div class="sidebar-row">
        <svg-icon class="sidebar-icon" src="assets/dice.svg"></svg-icon>
        <p>Random Page</p>
    </div>
</div>